<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

w<body>
    <script src="../static/index.js"></script>

    <nav id="nav_bar">
        <ul type="square">
            <li> <a href="index.html"> Home </li>
            <li> <a href="orders.html">Order</li>
            <li> <a href="cart.html">cart</li>
        </ul>
    </nav>
    <!-- we only have 3 files-> index, cart, orders -->
    <!-- btw you can type python manage.py runserver in terminal to get live response (on saving the html file) -->
    <!-- I am making my nav bar below this -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>